@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3498db;
  --secondary-color: #f1c40f;
  --background-color: #f9f9f9;
  --text-color: #333333;
}

body {
  @apply bg-primary-color;
  font-family: 'Open Sans', sans-serif;
}

a {
  @apply text-secondary-color;
  color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
  @apply text-lg;
  font-weight: bold;
}

p {
  @apply text-md;
  font-size: 1.2rem