/* style.css */

:root {
  --primary-color: #333;
  --secondary-color: #666;
  --background-color: #f9f9f9;
  --text-color: #333;
  --dark-background-color: #000;
  --dark-text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

body.dark-mode {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}

header {